{{> head }}



    {{> navbar }}

    <div class="row mt-5">

        <div class="col-4">
            <h2 class="text-center">
                La Universidad
            </h2>
            <hr>
            
            <p class="container text-justify">
                Aunque algunos la puedan considerar la trampa del ratón,
                puede darte lecciones que solo los ratones no aprovecharían.
            </p>
            
        </div>

        <div class="col-8">
            <img src="assets/img/universitarioleyendo.jpg" alt="universitario.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}